:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pico-font-family-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, var(--pico-font-family-emoji);
}
